[Unit]
Description=pms5003
After=network.target

[Service]
Type=exec
Restart=always
WorkingDirectory=/opt/pms5003
ExecStart=/usr/local/bin/pms5003

[Install]
WantedBy=multi-user.target
